<ul id="tracks" class="<%= @genre.name.parameterize %>">
	 <%= render :partial => 'shared/track', :collection => @tracks, :locals => {:genre_id => @genre.id} %>
</ul>
<div id="pagination"><%= will_paginate @tracks, :previous_label => '', :next_label => '' %></div>