<ul id="genres">
	<% Genre.all.each { |genre| %>
		<li><%= link_to genre.name.upcase, genre_path(genre), :class => genre.name.parameterize, :remote => true %></li><%= ' / ' if genre != Genre.all.last %> 
	<% } %>
</ul>