<ul id="genres">
	<li><div class="dash dash-all"></div><%= link_to "All", root_path, :remote => true %></li>
	<% Genre.all.each { |genre| %>
		<li><div class="dash dash-<%= genre.name.parameterize %>"></div><%= link_to genre.name.upcase, genre_path(genre), :class => genre.name.parameterize, :remote => true %></li> 
	<% } %>
</ul>