<div id="controls"><a href="" id="prev-button"></a><a href="" id="play-button"></a><a href="" id="next-button"></a></div>
<span id="track-name">Calvin Harris - Bounce (BoyzNoize Remix)</span>
<a href="" class="like-btn">&nbsp;</a>
<span id="track-duration">6:02</span>