<ul id="tracks">
	 <%= render :partial => 'shared/track', :collection => @tracks, :locals => {:genre_id => ''} %>
</ul>
<div id="pagination"><%= will_paginate @tracks, :previous_label => '', :next_label => '' %></div>