<ul id="tracks">
	 <%= render :partial => 'shared/track', :collection => @tracks, :locals => {:genre_id => ''} %>
</ul>
<div id="pagination"><%= will_paginate @tracks, :previous_label => '', :next_label => '' %></div>

<script type="text/javascript">
	<% unless session[:current_playing_id].nil? %>
		jQuery(document).ready(function() {
			jQuery('#track-<%= session[:current_playing_id] %>').fadeTo('fast', .5);
			jQuery('#track-<%= session[:current_playing_id] %>').bind('mouseleave', mouseLeave);
		});	
	<% end %>	
</script>
